/** ===== WooCommerce TopBar ===== **/
.woocommerce-loop-top {
    background-color: $color-light;
    padding: 35px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    @include respond-below(lg) {
        padding: 30px 50px;
    }

    @include respond-below (md) {
        padding: 30px;
    }

    @include respond-below(c480) {
        flex-direction: column;
        align-items: flex-start;
    }

    .woocommerce-result-count {
        font-size: 15px;
        margin: 0;
        color: $color-body;
        float: none;

        @include respond-below(c480) {
           margin-bottom: 15px;
        }
    }

    .woocommerce-ordering {
        margin: 0;
        float: none;

        select {
            height: 60px;
            width: 350px;
            border-radius: 0;
            border: 1px solid $color-border;
            color: $color-body;
            background-color: $color-white;

            @include respond-below (md) {
                width: 180px;
                height: 55px;
                font-size: 14px;
            }
        }
    }
}

/** ===== Woocommerce Common ===== **/
body.woocommerce,
body.woocommerce-page {
    input,
    select,
    select,
    textarea {
        font-size: 15px;
        color: #b2b2b2;
        border: 1px solid $color-border;
        border-radius: 5px;
        height: 55px;

        &:focus {
            border-color: $color-headline;
            color: $color-headline;
        }
    }

    .select2-container {
        height: 55px;

        .select2-selection--single {
            height: 55px;
            width: 100%;
            display: flex;
            align-items: center;
            border: 1px solid $color-border;

            .select2-selection__rendered {
                padding: 0 25px;
                color: #b2b2b2;
            }

            .select2-selection__arrow {
                top: 14px;
                right: 10px;
            }
        }

        span.selection {
            display: block;
        }

        .select2-search--dropdown .select2-search__field {
            border-color:$color-border;

            &:focus {
                border-color: $color-headline;
            }
        }
    }

    .select2-dropdown {
        border-color: $color-border;
    }

    form .form-row {
        padding: 0 0 10px;
    }

    table.cart td.actions .coupon .input-text {
        margin-right: 15px;
        border-color: $color-border;

        &:focus {
            border-color: $color-headline;
        }
    }

    textarea {
        padding-top: 24px;
        padding-bottom: 24px;
        min-height: 140px;
    }

    .comment-form {
        max-width: 100%;
    }

    .qty {
        padding: 0 10px 0 5px !important;
    }

    .button,
    .single_add_to_cart_button,
    .single_add_to_cart_button.alt,
    #respond input#submit,
    .actions .button,
    .wc-forward {
        position: relative;
        z-index: 1;
        font: {
            family: $font-primary;
            size: 16px;
            weight: 600;
        }
        line-height: 1;
        text: {
            transform: capitalize;
            decoration: none;
        }
        border-radius: 5px;
        border: none;
        background-color: $color-primary;
        color: $color-white;
        overflow: hidden;
        padding: 18px 30px;
        transition: 0.3s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @include respond-below(md) {
            font-size: 15px;
        }

        &:hover {
            color: $color-white;
            background-color: $color-secondary;
        }

        &:disabled[disabled] {
            color: #fff !important;
        }

        &:after {
            content: none !important;
        }
    }

    label {
        font-size: 15px;
    }

    .coupon {
        @include respond-below(md) {
            #coupon_code {
                width: 100% !important;
                margin-bottom: 10px;
                border-radius: 0;
            }

            .button {
                width: 100% !important;
            }
        }
    }

    table.shop_table {
        border-radius: 0;

        td {
            padding: 20px 15px;
            border-top: none;
        }

        th,
        tbody th,
        tfoot td,
        tfoot th {
            font-weight: 500;
        }

        .variation dt {
            font-weight: 500;
        }

        tfoot th {
            border-top: none;
        }

        a {
            color: $color-headline;

            &:hover {
                color: $color-primary;
            }
        }
    }

    #add_payment_method table.cart img,
    &.woocommerce-cart table.cart img,
    &.woocommerce-checkout table.cart img {
        width: 50px;
    }

    .woocommerce-message,
    .woocommerce-info {
        color: inherit;
        background-color: $color-light;
        border-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        margin: 0 0 30px;

        @include respond-below(md) {
            flex-direction: column;
            align-items: flex-start;
            padding: 15px 25px;
        }

        &:before {
            color: $color-primary;
            top: 50%;
            transform: translateY(-50%);

            @include respond-below(md) {
                display: block;
                position: unset;
                transform: translate(0, 0);
                margin-bottom: 5px;
            }
        }

        &::after {
            display: none;
        }

        .button {
            order: 22;

            @include respond-below(md) {
                padding: 0 20px;
                line-height: 35px;
                height: 35px;
                margin-top: 20px;
            }
        }
    }

    span.onsale {
        height: 30px;
        line-height: 30px;
        border-radius: 0;
        min-width: inherit;
        min-height: inherit;
        font-size: 13px;
        color: $color-white;
        padding: 0 17px;
        text-align: center;
        background-color: $color-secondary;
        margin: 0 !important;
        top: 20px !important;
        left: auto !important;
        right: 20px !important;
        font-weight: 500;
        text-transform: capitalize;
        z-index: 2;
    }
}

/** ===== Products Loop ===== **/
.woocommerce {
    ul.products {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px !important;

        li.product {
            padding: 0 15px;
            margin: 0 0 50px;
            width: 100% !important;

            @include respond-between(md, lg) {
                width: 50% !important;
            }

            @include respond-above(lg) {
                width: 33.333333% !important;
            }
        }

        &.columns-1 {
            li.product {
                width: 100% !important;
            }
        }

        &.columns-2 {
            li.product {
                @include respond-between(md, lg) {
                    width: 50% !important;
                }

                @include respond-above(lg) {
                    width: 50% !important;
                }

                width: 100% !important;
            }
        }

        &.columns-3 {
            li.product {
                @include respond-between(md, lg) {
                    width: 50% !important;
                }

                @include respond-above(lg) {
                    width: 33.333333% !important;
                }
            }
        }

        &.columns-4 {
            li.product {
                @include respond-between(md, lg) {
                    width: 50% !important;
                }

                @include respond-above(lg) {
                    width: 25% !important;
                }
            }
        }

        &.columns-5 {
            li.product {
                @include respond-between(md, lg) {
                    width: 33.33% !important;
                }

                @include respond-above(lg) {
                    width: 20% !important;
                }
            }
        }

        &.columns-6 {
            li.product {
                @include respond-between(md, lg) {
                    width: 25% !important;
                }

                @include respond-above(lg) {
                    width: 16.666666% !important;
                }
            }
        }

        .woocommerce-product-inner {
            .product-thumbnail {
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    transition: 0.3s;
                    transform: scale(1);
                }
            }

            &:hover {
                .product-thumbnail img {
                    transform: scale(1.1);
                }
            }

            .product-content {
                background-color: $color-white;
                padding: 40px;
                box-shadow: 0px 10px 60px 0px rgba(195, 195, 195, 0.3);
                line-height: 1;

                @include respond-below(c1200) {
                    padding: 40px 30px;
                }
            }

            .product-title {
                margin: 0 0 15px;
                font: {
                    size: 20px;
                    weight: 700;
                }
            }

            .product-cat-rating {
                display: flex;
                align-items: center;
                margin: 0 0 20px;
            }

            .categories {
                font-size: 16px;
                color: $color-body;

                @include respond-below(c1200) {
                   font-size: 15px;
                }
            }

            .star-rating {
                display: flex;
                justify-content: flex-end;
                line-height: 1;
                margin-left: 20px;
                position: relative;
                top: -1px;
                font-size: 15px;
                margin: 0 0 0 20px;
                color: #f1b000;
                flex: 0 0 auto;

                &::before {
                    color: rgba(#f1b000, 0.5);
                }
            }

            .product-price-button {
                display: flex;
                align-items: center;

                @include respond-below(c480) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                .price {
                    display: flex;
                    align-items: center;
                    margin: 0 20px 0 0;
                    font: {
                        size: 18px;
                        family: $font-secondary;
                        weight: 700;
                    }
                    color: $color-headline;
                    flex: 0 0 auto;

                    @include respond-between(lg, c1200) {
                        font-size: 15px;
                    }

                    @include respond-below(lg) {
                        font-size: 16px;
                    }

                    del,
                    del>span {
                        color: #ada2a0 !important;
                        margin-right: 5px;
                        text-decoration: line-through;
                        opacity: 1;

                        @include respond-below(c1200) {
                            margin-right: 2px;
                        }
                    }
                }
            }

            .cart-button {
                position: relative;
                z-index: 1;
                margin: 0;
                display: flex;

                @include respond-below(c480) {
                    margin-top: 15px;
                }

                a.button,
                .wc-forward {
                    margin: 0;
                    font: {
                        size: 15px;
                    }
                    line-height: 1;
                    padding: 12px 18px;
                    overflow: hidden;

                    @include respond-below(c1200) {
                        font-size: 14px;
                        padding: 12px 15px;
                     }

                    &.loading {
                        opacity: 1;

                        &::before {
                            position: absolute;
                            content: "";
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            background-color: $color-primary;
                        }

                        &::after {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            content: "\e01c" !important;
                            z-index: 2;
                        }
                    }
                }

                a.button.added {
                    opacity: 1;

                    &::before {
                        opacity: 0;
                    }

                    &::after {
                        display: none;
                    }
                }

                .wc-forward {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

        }
    }

    .woocommerce-pagination {
        flex: 0 0 auto;
        width: 100%;
        margin: 20px 0 0;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        clear: both;

        li {
            margin: 0 !important;
        }

        .page-numbers {
            display: block;
            height: 45px;
            width: 45px;
            margin: 5px 5px 0;
            padding: 0;
            color: $color-headline;

            font: {
                family: $font-primary;
                weight: 500;
                size: 16px;
            }

            line-height: 43px;
            text-align: center;
            border: 2px solid rgb(44, 44, 44, 0.071);
            border-radius: 50%;
            transition: 0.3s;

            @include respond-below(md) {
                width: 40px;
                height: 40px;
                font-size: 15px;
                line-height: 38px;
            }

            &.current,
            &:not(.dots):hover {
                color: $color-white;
                background-color: $color-primary;
                border-color: $color-primary;
            }
        }
    }
}

/** ===== Product Details ===== **/
.woocommerce.single-product {

    div.product {
        .woocommerce-summary-wrap {
            display: flex;
            position: relative;

            @include respond-below(lg) {
                flex-direction: column;
            }

            span.onsale {
                left: 20px !important;
                right: auto !important;
            }
        }

        .woocommerce-product-gallery {
            width: 48% !important;
            flex: 0 0 48%;
            margin: 0;

            @include respond-below(c1200) {
                width: 50% !important;
                flex: 0 0 50%;
            }

            @include respond-below(lg) {
                width: 100% !important;
                flex: 0 0 auto;
            }

            .woocommerce-product-gallery__wrapper {
                border-radius: 3px;
                overflow: hidden;
                width: 100%;
            }

            .woocommerce-product-gallery__image a {
                position: relative;
                display: block;
                pointer-events: none;
            }

            .flex-control-thumbs {
                margin-top: 30px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 30px;

                @include respond-below(c480) {
                    grid-gap: 20px;
                }

                li {
                    float: none;
                    width: 100%;
                }

                img {
                    transition: 0.3s;
                }
            }
        }

        .quantity {
            margin: 0 20px 0 0 !important;

            .qty {
                border-radius: 0;
                font-size: 15px !important;
                color: $color-headline;
                font-weight: 500;
                height: 50px !important;
                width: 70px;
                padding: 0 3px !important;
                border-radius: 5px;

                &:focus {
                    border-color: $color-primary;
                }
            }
        }

        .entry-summary {
            width: 52% !important;
            flex: 0 0 52%;
            float: none;
            padding-left: 140px;
            margin: 0;

            @include respond-below(c1350) {
                padding-left: 100px;
            }

            @include respond-below(c1200) {
                padding-left: 50px;
                width: 50% !important;
                flex: 0 0 50%;
            }

            @include respond-below(lg) {
                width: 100% !important;
                flex: 0 0 auto;
                padding-left: 0;
                padding-top: 60px;
            }

            .price {
                width: auto;
                flex: 0 0 auto;

                font: {
                    size: 22px;
                    weight: 600;
                }

                color: $color-headline;
                line-height: 1;
                margin: 0;
                display: flex;
                align-items: center;
                margin: 0 0 20px;

                del,
                del>span {
                    color: #ada2a0 !important;
                    margin-right: 5px;
                    text-decoration: line-through;
                    opacity: 1;
                }
            }

            .woocommerce-product-rating {
                margin: 0 0 25px;
                display: flex;
                line-height: 1;

                a.woocommerce-review-link {
                    color: $color-primary;
                    line-height: 1;
                    margin-left: 10px;
                    font-size: 15px;
                    font-weight: 500;
                }

                .star-rating {
                    font-size: 16px;
                    line-height: 1;
                    margin: 0;
                    color: #fab000;
                    top: -1px;

                    &::before {
                        color: rgba(#f1b000, 0.5);
                    }
                }
            }

            .woocommerce-product-details__short-description {
                p:last-child {
                    margin: 0;
                }
            }

            p.stock.in-stock {
                font-size: 18px;
                font-weight: 700;
                margin: 20px 0 0;
                color: $color-primary;
            }

            .product_meta {
                padding: 35px 0 0;
                margin: 50px 0 0;
                border-top: 1px solid $color-border;

                .sku_wrapper,
                .posted_in,
                .tagged_as {
                    display: block;
                    font-size: 15px;
                    text-transform: capitalize;
                    font-weight: 500;
                    color: $color-headline;
                    margin-bottom: 5px;
                    line-height: 1.4;

                    span,
                    a {
                        color: $color-body;
                        margin-left: 7px;
                        text-transform: capitalize;
                        font-weight: 400;
                    }

                    a:hover {
                        color: $color-primary;
                    }
                }
            }

            form.cart {
                padding: 35px 0 0;
                margin: 35px 0 0;
                border-top: 1px solid $color-border;

                label {
                    font-size: 15px;
                    letter-spacing: 0.03em;
                    margin-bottom: 0;
                    margin-right: 8px;
                    color: $color-headline;
                    font-weight: 500;
                    text-transform: capitalize;

                    a {
                        color: inherit;

                        &:hover {
                            color: $color-primary;
                        }
                    }
                }

                .reset_variations {
                    display: none !important;
                }

                .woocommerce-grouped-product-list {
                    border: none;
                    margin-bottom: 28px;

                    td {
                        vertical-align: middle;
                    }

                    .woocommerce-Price-amount {
                        font-weight: 600;
                        color: $color-primary;
                    }

                    del {
                        .woocommerce-Price-amount {
                            color: inherit;
                            opacity: 0.5;
                            text-decoration: line-through;
                        }
                    }

                    ins {
                        background: transparent;
                    }
                }

                .variations {
                    margin-bottom: 10px;

                    td {
                        padding: 0 0 20px 0;
                        vertical-align: middle;
                    }
                }

                .button-variable-wrapper {
                    .button-variable-item {
                        background-color: $color-light;
                        border: none;
                        line-height: 40px;
                        color: $color-headline;
                        text-transform: capitalize;
                        border-radius: 0;
                        box-shadow: none;
                        transition: 0.3s;
                        margin: 0 5px 5px 0;
                        width: 40px;
                        height: 40px;

                        span {
                            font-size: 14px;
                        }

                        &.selected,
                        &:hover {
                            background-color: $color-primary;
                            color: #fff;
                        }
                    }
                }

                .color-variable-wrapper {
                    .color-variable-item {
                        padding: 0;
                        border: none;
                        margin: 0 5px 5px 0;
                        opacity: 0.5;
                        box-shadow: none;

                        span {
                            border: 2px solid rgba(#000, 0.2);
                        }

                        &.selected {
                            opacity: 1;
                        }
                    }
                }

                .woocommerce-variation-add-to-cart {
                    display: flex;
                    align-items: center;
                }

                button {
                    height: 50px;
                }

                &:not(.grouped_form) {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                }
            }
        }

        .woocommerce-tabs {
            padding-top: 90px;

            ul.wc-tabs {
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                overflow: visible;
                justify-content: center;
                margin-bottom: 50px;

                &:before,
                &:after {
                    display: none !important;
                }

                li {
                    margin: 0 8px 15px 8px;
                    padding: 0;
                    border: none;

                    a {
                        font: {
                            size: 16px;
                            weight: 500
                        }
                        line-height: 1;
                        text-transform: capitalize;
                        border: 1px solid $color-border;
                        border-radius: 5px;
                        padding: 18px 45px;
                        color: $color-headline;
                        background-color: $color-white;

                        @include respond-below(c1200) {
                            padding: 18px 30px;
                        }

                        @include respond-below(lg) {
                            font-size: 15px;
                        }

                        @include respond-below(md) {
                            padding: 16px 25px;
                        }

                        @include respond-below(c480) {
                            font-size: 14px;
                            padding: 14px 20px;
                        }

                        &:hover {
                            background-color: $color-primary;
                            color: $color-white;
                            border-color: $color-primary;
                        }
                    }

                    &.active {
                        a {
                            background-color: $color-primary;
                            color: $color-white;
                            border-color: $color-primary;
                        }
                    }

                    &:before,
                    &:after {
                        display: none !important;
                    }
                }
            }

            .woocommerce-Tabs-panel {
                margin-bottom: 0;
                font-size: 14px;

                p:last-child {
                    margin-bottom: 0;
                }

                >h2 {
                    display: none;
                }

                .shop_attributes {
                    border: 1px solid $color-border;

                    th,
                    td {
                        border-bottom: 1px solid transparent;
                        font-family: inherit;
                        color: $color-headline;
                        font-weight: normal;
                        font-style: normal;
                        padding: 10px;
                        background-color: transparent;
                        vertical-align: middle;
                    }

                    th {
                        background-color: rgba(0, 0, 0, 0.025);
                        padding: 10px 20px;
                        width: 200px;
                        font-weight: 600;

                        @include respond-below(c480) {
                            width: auto;
                        }
                    }

                    td {
                        border-left: 1px solid rgb(222, 226, 230);
                        border-color: rgb(222, 226, 230);
                    }
                }
            }

            .woocommerce-Tabs-panel--reviews {
                .woocommerce-Reviews-title {
                    font-size: 18px !important;
                    margin-bottom: 22px;
                }

                .woocommerce-noreviews {
                    margin-bottom: 15px !important;
                }
            }

            .comment-reply-title,
            .nice-select {
                display: none;
            }

            #review_form {

                @include respond-below(c480) {
                    padding: 25px;
                }

                #respond {
                    box-shadow: none;

                    .comment-form {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .comment-notes {
                        display: none;
                    }

                    p {
                        margin: 0 0 30px;
                    }

                    .comment-form-rating,
                    .comment-form-comment,
                    .comment-form-cookies-consent,
                    .form-submit {
                        flex: 0 0 100%;
                    }

                    .comment-form-author,
                    .comment-form-email {
                        flex: 0 0 50%;

                        @include respond-below(c480) {
                            flex: 0 0 100%;
                        }
                    }

                    .comment-form-author {
                        padding-right: 15px;

                        @include respond-below(c480) {
                            padding-right: 0;
                        }
                    }

                    .comment-form-email {
                        padding-left: 15px;

                        @include respond-below(c480) {
                            padding-left: 0;
                        }
                    }

                    label {
                        margin-bottom: 15px;
                        display: block;
                        line-height: 1;

                        @include respond-below(md) {
                            font-size: 14px;
                        }
                    }

                    .stars {
                        margin-bottom: 10px;
                    }

                    input:not([type="submit"]),
                    textarea {
                        background-color: $color-light;
                        border: 1px solid $color-light;

                        &:focus {
                            border-color: $color-primary;
                        }
                    }

                    #comment {
                        padding: 20px 30px;
                        height: 140px;
                    }

                    .comment-form-cookies-consent {
                        display: flex;
                        align-items: center;

                        label {
                            margin: 0 0 0 10px;
                            line-height: 1.4;

                            @include respond-below(md) {
                                font-size: 14px;
                            }
                        }

                        input[type="checkbox"] {
                            flex: 0 0 15px;
                            top: -1px;
                            position: relative;
                        }
                    }

                    .form-submit {
                        margin: 0;
                    }

                    input.submit {
                        padding: 18px 50px;
                    }

                    .comment-form-rating{
                        display: flex;
                        align-items: center;
                        margin: 0 0 30px;

                        label,
                        .stars {
                            margin: 0;
                            line-height: 1;
                        }

                        .stars {
                            margin-left: 20px;
                            font-size: 16px;
                        }
                    }
                }
            }

            #reviews #comments ol.commentlist {
                padding: 0;
                margin: 0 0 50px;
                border-bottom: 1px solid $color-border;

                li.review {
                    position: relative;
                    margin: 0 0 50px;

                    .star-rating {
                        position: absolute;
                        right: 10px;
                        top: 0;
                        font-size: 15px;
                        color: #fab319;

                        .count-rating {
                            display: none;
                        }

                        @include respond-below(c480) {
                           position: relative;
                           display: block;
                           right: auto;
                           float: none;
                           margin-bottom: 10px;
                           font-size: 14px;
                        }
                    }

                    .comment_container {
                        position: relative;
                        display: flex;
                        align-items: center;
                    }

                    img.avatar {
                        position: relative;
                        padding: 0;
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        margin-right: 20px;

                        @include respond-below(c480) {
                            width: 60px;
                            height: 60px;
                            margin-right: 15px;
                        }
                    }

                    .comment-text {
                        border: none;
                        margin: 0;
                        padding: 0;
                    }

                    .meta {
                        margin: 0 0 5px;
                        line-height: 1;

                        .woocommerce-review__author {
                            font-size: 20px;
                            color: $color-headline;
                        }
                    }

                    .description {
                        p {
                            margin: 0;
                        }
                    }
                }

                ul.children {
                    margin: 35px 0 0 50px;
                }
            }
        }
    }

    section.related {
        padding-top: 120px;
        margin-top: 120px;
        border-top: 1px solid $color-border;

        h2 {
            font-size: 32px;
            margin-bottom: 45px;

            @include respond-below(lg) {
                font-size: 28px;
            }
        }
    }
}

/** ===== Cart Page ===== **/
body.woocommerce-cart {
    .woocommerce-cart-form {
        .actions .button {
            height: 50px;
            padding: 10px 35px;

            &:hover {
                background-color: $color-secondary !important;
            }

            &:disabled[disabled] {
                opacity: 0.8;
            }
        }

        table.cart td.actions .input-text {
            width: 200px !important;
            height: 50px;
            padding: 0 25px;
        }

        .shop_table {
            border: none;

            thead th {
                font: {
                    family: $font-secondary;
                    size: 18px;
                    weight: 700;
                }
                color: #333;
                padding: 10px;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid $color-primary;
            }

            tbody td {
                text-align: left;
                border-left: none;
                border-right: none;
                border-top: none;
                border-bottom: 1px solid $color-border;
                padding: 18px 15px;

                &.actions {
                    border-bottom: none;
                    padding-left: 0;
                    padding-right: 0;
                }

                .quantity .qty {
                    width: 80px;
                    height: 50px;
                    border-radius: 0;
                    font-size: 15px !important;
                    color: $color-headline;

                    @media (max-width: 768px) {
                        margin-left: auto;
                    }
                }

                .quantity-icon {
                    display: none;
                }
            }
        }

        tbody {
            .product-name {
                a {
                    color: $color-headline;
                    font: {
                        family: $font-secondary;
                        size: 16px;
                        weight: 700;
                    }

                    &:hover {
                        color: $color-primary;
                    }
                }

                dl.variation {
                    display: none;
                }
            }

            .product-price,
            .product-subtotal {
                color: $color-headline;
                font-size: 15px;
                font-weight: 500;

                ins {
                    color: $color-headline;
                    background-color: transparent;
                }
            }

            .product-thumbnail {
                text-align: center !important;
                min-width: 120px;

                a {
                    display: block;

                    img {
                        width: 100%;
                        max-width: 80px;
                    }
                }
            }
        }

        .product-remove {
            a.remove {
                font-size: 18px;
                height: 25px;
                width: 25px;
                line-height: 25px;
                background-color: $color-primary;
                color: $color-white !important;
                border-radius: 50%;
                font-weight: normal;
                transition: 0.3s;
                margin: auto;

                &:hover {
                    background-color: $color-secondary;
                }
            }

            @include respond-below(lg) {
                min-height: 57px;
            }
        }

        table.shop_table {
            margin-bottom: 40px;
            border-radius: 0;

            @include respond-below(md) {
                td {
                    background-color: #fff !important;
                }
            }
        }
    }

    .cart-collaterals {
        .cart_totals {
            background-color: $color-white;
            padding: 40px 50px;
            box-shadow: 0px 10px 60px 0px rgb(195 195 195 / 30%);
            border-radius: 7px;
            width: 40%;

            @include respond-below(lg) {
                width: 60%;
                padding-left: 40px;
                padding-right: 40px;
            }

            @include respond-below(md) {
                padding: 30px;
                width: 100%;
            }

            > h2 {
                font-size: 24px;
                border-bottom: 1px solid rgba(96, 101, 104, 0.15);
                margin-bottom: 20px;
                padding-bottom: 14px;
                text-transform: capitalize;
            }

            th {
                font: {
                    size: 16px;
                    weight: 500;
                }
                vertical-align: middle !important;
                border: none !important;
                color: $color-headline;
                padding: 10px 10px 10px 0px;

                + td {
                    border-left: 1px solid $color-border;
                }
            }

            td {
                font-size: 15px;
                border: none !important;
                padding: 10px;
                text-align: right;
            }

            label {
                font-family: $font-primary;
            }

            strong {
                font-weight: 700;
            }

            .order-total {
                th,
                td {
                    color: $color-headline;
                    font-weight: 600;
                }
            }

            .shop_table {
                border: none;
            }

            .woocommerce-shipping-calculator {
                p {
                    margin-bottom: 0;
                }

                .shipping-calculator-button {
                    color: $color-primary;

                    &:hover {
                        color: $color-primary;
                    }
                }

                .shipping-calculator-form {
                    padding-top: 10px;
                }
            }

            .wc-proceed-to-checkout {
                padding-bottom: 0;

                .checkout-button {
                    margin-bottom: 0;
                    width: 100%;
                    padding: 18px 30px;
                    font: {
                        size: 16px;
                        weight: 500;
                    }
                    color: $color-white;
                    background-color: $color-primary;

                    &:hover {
                        background-color: $color-secondary;
                    }
                }
            }

            .form-row-wide > span {
                display: block  ;
            }

            .woocommerce-shipping-calculator {
                .button {
                    font-size: 15px;
                    padding: 14px 30px;
                }
            }
        }

        .wc-proceed-to-checkout {
            text-align: right;
        }
    }
}

/** ===== Checkout Page ===== **/
.woocommerce-checkout {
    form.checkout_coupon {
        border: none;
        border-radius: 0;
        background-color: $color-light;
        margin: 0;
        padding: 20px;

        .form-row-first {
            width: 50%;
            padding-right: 30px;

            @include respond-below(c480) {
                padding-right: 0;
                width: 100%;
            }
        }

        .form-row-last {
            width: 50%;

            @include respond-below(c480) {
                width: 100%;
            }
        }

        input.input-text {
            height: 50px;
        }
    }

    #add_payment_method #payment,
    #payment {
        border-radius: 0;
    }

    #customer_details {
        margin: 0 -15px;
        width: inherit;

        .col-1,
        .col-2 {
            width: 50%;
            flex: inherit;
            max-width: 100%;
        }

        @include respond-below(md) {
            margin: 0;

            .col-1,
            .col-2 {
                width: 100%;
            }
        }

        span.woocommerce-input-wrapper {
            width: 100%;
            display: block;
        }

        .woocommerce-billing-fields {
            margin-bottom: 36px;

            > h3 {
                font-size: 24px;
                margin-bottom: 18px;
                text-transform: capitalize;
            }
        }

        .woocommerce-additional-fields {
            margin-bottom: 36px;

            > h3 {
                font-size: 24px;
                margin-bottom: 18px;
                text-transform: capitalize;
            }
        }

        .woocommerce-shipping-fields {
            #ship-to-different-address {
                font-size: 24px;
                cursor: pointer;
                transition: 0.3s;

                label {
                    font-size: inherit;
                    font-weight: inherit;
                    font-family: inherit;
                }

                &:hover {
                    color: $color-primary;
                }

                #ship-to-different-address-checkbox {
                    position: absolute;
                    opacity: 0;
                }
            }
        }

        #billing_country_field,
        #shipping_country_field,
        #billing_address_1_field,
        #shipping_address_1_field,
        #order_comments_field {
            label {
                display: none !important;
            }

            textarea {
                padding: 18px 30px;
            }
        }
    }

    form.woocommerce-checkout {
        padding-top: 30px;

        #order_review_heading {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 18px;
            text-transform: capitalize;
        }

        #order_review {
            th {
                font-weight: 500;
                vertical-align: middle !important;

                + td {
                    border-left: 1px solid $color-border;
                }
            }

            .product-total {
                border-left: 1px solid $color-border;
            }

            .woocommerce-checkout-review-order-table {
                margin-bottom: 50px;
                border-right: none;
                border-top: none;
                border-bottom: none;

                th {
                    font-weight: 500;
                }

                th,
                td {
                    border-left: none;
                }

                td.product-total,
                .cart-subtotal td,
                .order-total td {
                    font-size: 14px;
                    font-weight: 500;
                    color: $color-primary;
                    padding: 10px 15px;
                }
            }

            #payment {
                background-color: $color-light;

                .about_paypal {
                    margin-left: 10px;
                }

                .wc_payment_methods {
                    padding: 30px;
                    border-bottom: 1px solid $color-border;
                }

                .place-order {
                    padding: 30px;
                    margin: 0;
                }

                #place_order {
                    float: none;
                    margin-top: 10px;
                    background-color: $color-primary;

                    &:hover {
                        background-color: $color-secondary;
                    }
                }
            }
        }
    }

    #payment {
        input[type=radio] {
            width: 15px;
            height: 15px;
            position: relative;
            top: 2px;
        }

        label {
            color: $color-headline;
            display: inline-block;
            margin: 0 0 8px;
        }

        div.payment_box {
            background-color: $color-border;

            &::before {
                border-color: $color-border;
                border-right-color: transparent;
                border-left-color: transparent;
                border-top-color: transparent;
            }
        }
    }
}

/** ===== Account Page ===== **/
.woocommerce-account .content-area {
    .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
        display: block;
        width: 100%;
    }

    .woocommerce-MyAccount-navigation {
        margin-bottom: 30px;
        width: 30%;
        float: left;
        padding: 0 15px;

        @include respond-below(md) {
            width: 100%;
            margin-bottom: 60px;
        }

        ul {
            margin: 0;
            list-style: none;

            li {
                border-bottom: 1px solid $color-border;

                a {
                    font-size: 16px;
                    padding: 10px 0;
                    color: $color-headline;
                    position: relative;
                    display: block;

                    &:hover {
                        color: $color-primary;
                    }

                    &:before {
                        content: "\f178";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                        display: block;
                        font-family: "Font Awesome 5 Pro";
                        color: $color-primary;
                        margin-left: -16px;
                        opacity: 0;
                        transition: 0.3s;
                    }
                }

                &.is-active > a,
                a:hover {
                    color: inherit;
                    padding-left: 26px;

                    &:before {
                        margin-left: 0;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .woocommerce-MyAccount-content {
        margin-bottom: 30px;
        padding: 0 15px;
        width: 70%;
        float: left;

        @include respond-below(md) {
            width: 100%;
            margin-bottom: 0;
        }

        .col-1,
        .col-2 {
            flex: inherit;
            max-width: inherit;
        }

        .woocommerce-Addresses .woocommerce-Address {
            padding: 0;

            &.col-2 {
                @include respond-below(md) {
                    padding-top: 30px;
                }
            }
        }

        .form-row {
            label {
                width: 100%;
            }

            .woocommerce-input-wrapper {
                width: 100%;
            }
        }

        fieldset {
            padding: 15px;
            border: 1px solid $color-border;
            margin-bottom: 15px;
        }

        h3{
            font-size: 28px;

            @include respond-below(lg) {
                font-size: 20px;
                margin-bottom: 15px;
            }
        }
    }

    .woocommerce-form {
        background-color: $color-light;
        border: none;
        padding: 30px;
        border-radius: 0;
        max-width: 670px;
        margin: 30px 0 0;

        label {
            margin-bottom: 5px;
        }

        .woocommerce-Button.button {
            margin-right: 16px;
            height: auto;
        }

        .woocommerce-LostPassword {
            margin-bottom: 0;

            a {
                color: $color-primary;

                &:hover {
                    color: $color-headline;
                }
            }
        }

        .woocommerce-form__label-for-checkbox {
            padding: 0;
            line-height: 50px;

            span {
                font-size: 15px;
            }

            .woocommerce-form__input-checkbox {
                position: relative;
                top: -1px;
            }
        }

        .woocommerce-Button {
            height: 42px;
        }
    }

    .woocommerce-notices-wrapper + h2 {
        text-align: center;
        font-size: 24px;
    }

    #customer_login {
        margin: 0 -15px;
        width: inherit;
        display: flex;
        flex-wrap: wrap;

        h2 {
            font-size: 24px;
        }

        .u-column1.col-1,
        .u-column2.col-2 {
            width: 50%;
            flex: inherit;
            max-width: 100%;
        }

        @include respond-below(md) {
            margin: 0;

            .u-column1.col-1,
            .u-column2.col-2 {
                width: 100%;
                padding: 0;
            }
        }
    }

    .woocommerce-password-strength.bad {
        background-color: transparent;
        padding: 8px 0;
    }
}

.woocommerce .woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
    display: flex;

    input {
        height: auto;
        margin-right: 10px;
    }
}

/** ===== Thank You Page ===== **/
.woocommerce-order {
    .woocommerce-order-details__title {
        font-size: 32px;
    }
}

/** ===== Cart Sidebar ===== **/
.widget-cart-sidebar {
    transition: all 0.3s linear 0.15s;
    transform: translateX(100%);
    padding-top: 30px;
    padding-bottom: 137px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 99999;
    width: 320px;
    box-shadow: 0 2px 27px rgba(54, 54, 54, 0.13);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    .widget_shopping_title {
        border-bottom: 1px solid $color-border;
        margin-bottom: 18px;
        padding-bottom: 14px;
        font: {
            family: $font-secondary;
            size: 18px;
            weight: 600;
        }
        color: $color-headline;
    }

    .cart-close {
        background-color: $color-secondary;
        color: $color-white;
        position: absolute;
        top: 0;
        left: 0;
        height: 44px;
        width: 44px;
        line-height: 44px;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        transition: all 300ms linear 0s;
        z-index: 2;

        &:hover {
            background-color: $color-primary;
        }
    }

    .widget_shopping_cart {
        padding: 30px 45px 0 30px;
        height: 100%;
        overflow-y: scroll;
        width: 350px;

        .cart-btn {
            padding: 20px 35px;
            background-color: $color-primary;
            color: $color-white;
            font-weight: 600;
            line-height: 1;
            display: block;
            width: 100%;
            text-align: center;
            font-size: 15px;
            font-weight: 600;

            &:hover {
                background-color: $color-secondary;
                color: $color-white;
            }
        }

        .widget_shopping_cart_content {
            ul.cart_list {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    padding: 20px 15px 15px 0;
                    display: flex;
                    flex-wrap: nowrap;
                    border-bottom: 1px solid $color-border;
                    position: relative;
                    margin: 0;

                    &:last-child {
                        border: none;
                        padding-bottom: 0;
                    }

                    &.empty {
                        font-size: 16px;
                        margin-top: 40px;
                        padding: 0 !important;
                        text-align: center;
                        display: block;

                        span {
                            text-align: center;
                            margin-bottom: 20px;
                            display: block;
                            margin-top: 20px;
                        }

                        i {
                            font-size: 60px;
                            color: #0d2335;
                        }
                    }
                }

                .cart-product-image {
                    width: 45px;
                    min-width: 45px;
                    margin-right: 15px;

                    a {
                        display: inline-block;
                    }

                    img {
                        margin: 0;
                        width: inherit;
                    }
                }

                .cart-product-meta {
                    padding-right: 12px;

                    h3 {
                        font-size: 15px;
                        margin-bottom: 3px;
                        font-weight: 600;

                        a {
                            color: inherit;
                            font-weight: 600;

                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }

                    .quantity {
                        font-size: 14px;
                    }
                }

                a.remove_from_cart_button {
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    right: 0;
                    width: 18px;
                    height: 18px;
                    text-align: center;
                    border-radius: 18px;
                    line-height: 17px;
                    color: $color-primary;
                    font-size: 18px;

                    i {
                        vertical-align: middle;
                    }
                }

                li:hover a.remove_from_cart_button {
                    opacity: 1;
                }
            }
        }

        .widget_shopping_cart_footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 30px;
            background-color: #fff;

            p.total {
                border: none;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                padding-top: 15px;
                padding-bottom: 0;
                color: $color-headline;
                font-weight: 500;

                strong {
                    font-weight: 600;
                }
            }

            p.buttons {
                .cart-btn {
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

.widget-cart-wrap.cart-open {
    .widget-cart-sidebar {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

.admin-bar .widget-cart-sidebar {
    top: 32px;

    @media screen and (max-width: 782px) {
        top: 46px;
    }
}